.entry {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.36);
}

.entry input[type=checkbox] {
    flex: 1;
}

.entry input[type=text] {
    flex: 8;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
}

.entry .text {
    flex: 8;
    text-align: left;
}

.entry .creation-date {
    flex: 1;
}
